RetailWebService/nbproject/
RetailWebService/build/
RetailWebService/dist/
RetailWebsite/nbproject/
RetailWebsite/build/
RetailWebsite/dist/
Manufacturer/nbproject/
Manufacturer/build/
Manufacturer/dist/
WarehouseService/nbproject/
WarehouseService/build/
WarehouseService/dist/

